:root {
    --text-color: #212121;
    --content-color: hsl(0, 0%, 46%);
    --overlay-color: #2196f3;
    --footer-color: #2f303a;
    --button-color: #f5f4fa;
  }
  
  .body {
    font-family: Roboto;
  }
  
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 
  }
  
  .header {
    border-bottom: solid #ececec 1px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    color: var(--overlay-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
  }
  
  .header-logo-color {
    color: var(--text-color);
  }
  .header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }
  
  .header-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
    position: relative;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  
  .header-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition-duration: 250ms;
    background-color: var(--overlay-color);
    opacity: 0;
    transform: scale(0);
    transition:
      transform 250ms cubic-bezier(0.83, -0.08, 0.32, 1),
      opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1) ;
   
  
  }
  
  .header-link:hover::after {
    opacity: 1;
    transform: scale(1);
  
  }
  
  .header-link:hover {
    color: var(--overlay-color);
  }
  
  .header-link:focus {
    color: var(--overlay-color);
  }
  
  .header-item:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
  
  .header-contacts {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-left: 318px;
  }
  
  .header-contact-item {
    display: flex;
    gap: 10px;
  }
  
  .header-contact {
    color: var(--content-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-gmail-logo {
    width: 16px;
    height: 12px;
    flex-shrink: 0;
    fill: var(--content-color);
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .header-phone-logo {
    width: 10px;
    height: 16px;
    flex-shrink: 0;
    fill: var(--content-color);
  }
  
  .header-contact:hover {
    color: var(--overlay-color);
  }
  
  .header-contact-item:hover .header-gmail-logo {
    fill: var(--overlay-color);
  }
  
  .header-contact-item:hover .header-phone-logo {
    fill: var(--overlay-color);
  }
  
  .header-contact:focus {
    color: var(--overlay-color);
  }
  
  .header-contact-item:focus-within .header-gmail-logo {
    fill: var(--overlay-color);
  }
  
  .header-contact-item:focus-within .header-phone-logo {
    fill: var(--overlay-color);
  }
  
  .invitation {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero_bacground.webp);
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
  }
  
  .invitation-tytle {
    color: var(--button-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: 273px;
    margin-right: 273px;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .invitation-button {
    color: var(--button-color);
    background: var(--overlay-color);
    width: 216px;
    height: 50px;
    font-size: 16px;
    line-height: 1.9;
    flex-shrink: 0;
    border: none;
    border-radius: 7px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }
  
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .features-list {
    display: flex;
    gap: 30px;
  }
  
  .features-item:nth-child(1)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../images/reason1.webp);
  }
  
  .features-item:nth-child(2)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../images/reason2.webp);
  }
  
  .features-item:nth-child(3)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../images/reason3.webp);
  }
  
  .features-item:nth-child(4)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../images/reason4.webp);
  }
  
  .features-tytle {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .features-text {
    color: var(--content-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
  }
  
  .service {
    padding-bottom: 94px;
  }
  
  .service-list {
    display: flex;
    justify-content: space-between;
  }
  
  .service-listitem {
    position: relative;
  }
  
  .service-tytle {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .service-containre {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    position: absolute;
    bottom: 0px;
  }
  
  .service-text {
    color: var(--button-color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
  
  .team-list {
    display: flex;
    justify-content: space-between;
  }
  
  .team-item {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--button-color);
    border-radius: 0px 0px 4px 4px;
    /* border: #219621 solid 2px; */
  }
  
  .team-picture {
    width: 270px;
    height: 260px;
  }
  
  .team-containre {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-tytle {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .team-teammate {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    padding-top: 30px;
  }
  
  .team-text {
    color: var(--content-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.48px;
    margin-top: 10px;
    padding-bottom: 16px;
  }
  
  .team-social-list {
    display: flex;
    gap: 10px;
    margin-left: 32px;
  }
  
  .team-social-listitem {
    background-color: white;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    padding: 12px;
    margin-bottom: 30px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-social-logos {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  
  .team-social-listitem:hover .team-social-logos {
    fill: white;
  }
  .team-social-listitem:hover {
    background-color: var(--overlay-color);
  }
  
  .team-social-listitem:focus-within .team-social-logos {
    fill: white;
  }
  .team-social-listitem:focus-within {
    background-color: var(--overlay-color);
  }
  
  .footer {
    background: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-containre {
    display: flex;
  }
  
  .footer-second-part {
    padding-top: 12px;
    margin-left: 70px;
    margin-right: 93px;
    width: 206px;
    height: 80px;
    flex-shrink: 0;
  }
  
  .footer-logo {
    color: var(--overlay-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
  }
  
  .footer-logo-color {
    color: var(--button-color);
  }
  
  .footer-address {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
    margin-top: 9px;
  }
  
  .footer-address-special {
    color: #fff;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
  }
  
  .footer-list {
    margin-top: 32px;
    display: flex;
    gap: 10px;
  }
  
  .footer-list-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    width: 44px;
    height: 44px;
    padding: 12px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  
  .footer-list-item:hover {
    background-color: var(--overlay-color);
  }
  
  .footer-list-item:focus-within {
    background-color: var(--overlay-color);
  }
  
  .footer-services {
    width: 20px;
    height: 20px;
    fill: var(--button-color);
  }
  
  .footer-encourage {
    color: var(--button-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .portfolio-buttonlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
  
  .portfolio-button {
    color: var(--text-color);
    background: var(--button-color);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.6;
    /* width: 125px; */
    height: 38px;
    flex-shrink: 0;
    border-radius: 7px;
    border: none;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  
  .portfolio-button:hover {
    background: var(--overlay-color);
    color: var(--button-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-button:focus {
    background: var(--overlay-color);
    color: var(--button-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-poster {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .portfolio-posters {
    overflow: hidden;
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow, visability;
    
  }
  
  .portfolio-posters:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
      0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
  .portfolio-posters:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
      0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
  .portfolio-containre {
    padding-left: 24px;
    border: 1px solid #eee;
    z-index: 2;
  }
  
  .portfolio-picture {
    width: 370px;
    height: 294px;
    z-index: 0;
  }
  
  .portfolio-name {
    color: var(--text-color);
    width: 332px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
    padding-top: 20px;
  }
  
  .portfolio-text {
    color: var(--content-color);
    width: 332px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.48px;
    padding-bottom: 20px;
  }
  
  .customers {
    width: 1170px;
    height: 184px;
    margin: 94px;
    margin-bottom: 94px;
  }
  
  .customers-tytle {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
  .customers-list {
    display: flex;
    gap: 30px;
  }
  
  .customer-logo {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    margin: 16px 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
  
  .customers-border {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  
  .customers-border:hover .customer-logo {
    fill: var(--overlay-color);
  }
  
  .customers-border:hover {
    border: 1px solid var(--overlay-color);
  }
  
  .customers-border:focus {
    border: 1px solid var(--overlay-color);
  }
  
  .customers-border:focus-within .customer-logo {
    fill: var(--overlay-color);
  }
  
  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0px;
    bottom: 0px;
    /* opacity: 1;
    visibility: visible; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
    opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1),
    visibility 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
  
  .modal {
    width: 528px;
    height: 581px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform:  scale(1);
    transition: opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
  }
  
  .modal-button {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background-color: #fff;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 8px;
    margin-left: 490px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  
  .modal-close {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }
  
  .modal-button:hover .modal-close {
    fill: var(--overlay-color);
  }
  
  .modal-button:hover {
    border: var(--overlay-color) solid 1px;
  }
  
  .modal-tytle {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-input-names {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    padding-left: 40px;
    margin-bottom: 4px;
  }
  
  .modal-input {
    padding-top: 11px;
    width: 448px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 11px;
    padding-left: 12px;
    display: flex;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, border;
  }
  
  .modal-input:hover .modal-svg {
    fill: var(--overlay-color);
  }
  
  .modal-input:hover {
    border: var(--overlay-color) solid 1px;
  }
  
  .modal-svg {
    margin-right: 12px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  
  .modal-inputs {
    outline: none;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  .modal-inputs:hover {
    border: none;
  }
  
  .modal-coment {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-left: 40px;
    margin-bottom: 4px;
    margin-top: 10px;
  }
  
  .modal-coment-input {
    color: rgba(117, 117, 117, 0.5);
    width: 448px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 40px;
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  
  .modal-coment-input:hover {
    border: 1px solid var(--overlay-color);
  }
  
  .modal-input-special {
    color: rgba(117, 117, 117, 0.5);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    outline: none;
  }
  
  .modal-box {
    display: flex;
    padding-left: 52px;
    gap: 8.38px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .modal-agree {
    fill: #212121;
    width: 16px;
    height: 15px;
    flex-shrink: 0;
    margin-top: 4px;
  }
  
  .modal-agree-text {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
  
  .modal-link {
    color: #2196f3;
    text-decoration-line: underline;
  }
  
  .modal-send {
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    color: var(--button-color);
    margin-left: 164px;
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .footer-form-text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 20px;
  }
  
  .footer-form-input {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
  }
  
  .footer-form-button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--overlay-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: var(--overlay-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 28px;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }
  
  .footer-form-svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #fff;
  }
  

  
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(294px);
    z-index: 1;
   
  }

  
  .overlay-text {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    width: 322px;
  }
  
  .portfolio-posters:hover .overlay {
    opacity: 1;
     transform: translate(0px);
  }