:root {
    --text-color: #212121;
    --content-color: hsl(0, 0%, 46%);
    --overlay-color: #2196F3;
    --footer-color: #2F303A;
    --button-color: #F5F4FA;

}

.body {
    font-family: Roboto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: solid darkblue;
}

.head {
    padding-top: 24px;
    padding-bottom: 25px;
}

.head-container {
    display: flex;
    align-items: center;
}


.head-logo {
    color: var(--overlay-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.78px;
}

.head-logo-color {
    color: var(--text-color);
}

.head-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.head-link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
}

.head-link:hover {
    color: var(--overlay-color);
}

.head-contacts {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-left: 334px;
}


.head-contact {
    color: var(--content-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
}

.head-contact:hover {
    color: var(--overlay-color);
}

.advertising {
    background: var(--footer-color);
    padding-bottom: 200px;
    padding-top: 200px;

}


.advertising-title {
    color: var(--button-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: 273px;
    margin-right: 273px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;

}

.advertising-button {
    color: var(--button-color);
    background: var(--overlay-color);
    width: 216px;
    height: 50px;
    font-size: 16px;
    line-height: 1.9;
    flex-shrink: 0;
    border: none;
    border-radius: 7px;
}

.care {
    padding-top: 94px;
    padding-bottom: 94px;

}

.care-list {
    display: flex;
    gap: 30px;
}

.care-title {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.care-text {
    color: var(--content-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.about {
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    justify-content: space-between;
}

.about-title {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.colleagues {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--button-color);
}

.colleagues-list {
    display: flex;
    justify-content: space-between;
}

.colleagues-picture {
    width: 270px;
    height: 260px;
}

.colleagues-containre {
    background-color: #FFF;
}

.colleagues-tytle {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.colleagues-worker {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    padding-top: 30px;
}

.colleagues-text {
    color: var(--content-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.48px;
    margin-top: 10px;
    padding-bottom: 30px;
}

.basement {
    background: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.basement-logo {
    color: var(--overlay-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}



.basement-logo-color {
    color: var(--button-color);
}

.basement-address {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
    margin-top: 9px;
}

.basement-address-special {
    color: #FFF;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.navigation-title {
    color: var(--texts-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.navigation-title:hover {
    color: #2196F3;
}

.navigation-address {
    color: var(--contents-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.navigation-address:hover {
    color: #2196F3;
}

.works-button {
    color: var(--texts-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
}

.works-button:hover .workers-title {
    color: var(--texts-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.workers-text {
    color: var(--contents-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

.cellar-street {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.cellar-email {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.cellar-tell {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.basement-first {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 138, 46%;
    letter-spacing: 0.78px;
}

.nav-first {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 138, 46%;
    letter-spacing: 0.78px;
}

.basement-second {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 138, 46%;
    letter-spacing: 0.78px;
}

.nav-second {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 138, 46%;
    letter-spacing: 0.78px;
}