

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  
  
&__buttonlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
  
&__button {
    color: $text-color;
    background: $button-color;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.6;
    height: 38px;
    flex-shrink: 0;
    border-radius: 7px;
    border: none;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }

  
&__button:hover {
    background: $overlay-color;
    color: $button-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
  
&__button:focus {
    background: $overlay-color;
    color: $button-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
  
&__poster {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
&__posters {
    overflow: hidden;
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow, visability;
    
  }
  
&__posters:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
      0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
&__posters:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
      0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
&__containre {
    padding-left: 24px;
    border: 1px solid #eee;
    z-index: 2;
  }
  
&__picture {
    width: 370px;
    height: 294px;
    z-index: 0;
  }
  
&__name {
    color: $text-color;
    width: 332px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
    padding-top: 20px;
  }
  
&__text {
    color: $content-color;
    width: 332px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.48px;
    padding-bottom: 20px;
  }

  &__posters:hover .overlay {
    opacity: 1;
     transform: translate(0px);
  }
}

  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(294px);
    z-index: 1;
   
  

  
 &__text {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    width: 322px;
  }
  
}