body,
h1, 
h2, 
h3,
h4,
h5,
h6,
p, 
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

input{
    border: none;
}