.customers {
    width: 1200px;
    height: 184px;
    margin: 94px;
    margin-bottom: 94px;
  
    &__tytle {
      color: #212121;
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }
  
    &__list {
      display: flex;
      gap: 30px;
    }
  
    &__logo {
      width: 106px;
      height: 60px;
      fill: #afb1b8;
      margin: 16px 32px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
    }
  
    &__border {
      width: 170px;
      height: 92px;
      border-radius: 4px;
      border: 1px solid #afb1b8;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: border;
    }
  
    &__border:hover &__logo {
      fill: $overlay-color;
    }
  
    &__border:hover {
      border: 1px solid $overlay-color;
    }
  
    &__border:focus {
      border: 1px solid $overlay-color;
    }
  
    &__border:focus-within &__logo {
      fill: $overlay-color;
    }
  }